body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TikTok Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9b7c8f;
    color: #EBECF1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    height: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header .header-items {
    display: flex;
    gap: 30px;
    padding-right: 5px;
}

.header-items a {
    color: #EBECF1;
    text-decoration: none;
    transition: color 100ms;
}

.header-items a:hover,
.header-items a:focus {
    transform: translateY(-1px);
}

.header .logo {
    padding: 10px;
}

.page-title{
    padding-left: 4rem;
    font-size: 35px;
    color: #252422;
}

.page-description{
    padding-left: 4rem;
    /* padding-bottom: 20px; */
    color: #252422;
}

.properties{
    box-sizing: border-box;
    width: 80%;
    float: left;
    padding: 20px;
}

.content .summary{
    box-sizing: border-box;
    width: 20%;
    float: right;
    position: fixed;
    right: 0;
    background-color: #ADDCC1;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
}

.property{
    background-color: #ADDCC1;
    border-radius: 8px;
    padding: 20px;
    color: #000000;
}

.teste{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


